*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    transition: all .4s ease;
}
body{
    /* box-sizing: border-box; */
    /* cursor: none; */
    height: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none; 
    overflow: hidden;
}
#curror{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: url(./icon/3-removebg-preview.png) center no-repeat;
    background-size: cover;
    transition:0;
    pointer-events: none;
    z-index:10000;
    text-align: center;
}
.header{
    border: 4px double #8A2BE2; 
    word-wrap: break-word;
    padding-top: 100px;
    padding-bottom: 100px;
    /* background: #dcdde1; */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.header .header-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 20px;
}
.header .header-item:nth-child(1){
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.header .header-item:nth-child(2){
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.header .header-item:nth-child(3){
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.header .header-item:nth-child(4){
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}


.header .active-s{
    display: block;
    animation: chuyenTab 2s linear;
    animation-duration: infinite;
}
.header .header-item h3.slogan{
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 100px;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    letter-spacing: 2px;
    line-break: auto;
    background: url(./Image/2.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: go 3s linear infinite;
    /* line-height: 2px; */
}

.header .header-item .loading{
    text-align: center;
    font-size: 6em;
    color: #fff;
    letter-spacing: 4px;
    line-break: auto;
    background: url(./Image/3.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-position: 50%;
    animation: go 3s linear infinite;
}
@media (max-width:992px){
    .header .header-item h3.slogan-md{
        font-size: 1.3em;
        font-weight: 400;
        padding: 0 50px;
    }
    .header .header-item h3.loading-md{
        font-size: 5em;   
        letter-spacing: 2px;
    }
}
@media (max-width:768px){
    .header .header-item h3.slogan-xs{
       font-size: 1.1em;
       font-weight: 400;
       padding: 0 40px;
   }
    .header .header-item h3.loading-xs{
        font-size: 4em;   
        letter-spacing: 1.5px;
    }
}
.header .header-item h5{
    position:absolute;
    bottom:0;
    right: 50px;
    color: red;
    text-shadow: 0 0 10px #ffffff;
    font-size: 14px;
}
.header  .header-item h5::before{
    content: '';
    position:absolute;
    top: 50%;
    transform:translate(-50%);
    left: -20px;
    width:30px;
    height: 2px;
    background: #0097e6;
}
.header .header-item h5::after{
    content: '';
    position:absolute;
    top: 50%;
    transform:translate(-50%);
    right:-50px;
    width:30px;
    height: 2px;
    background: #0097e6;
}


@keyframes go{
    0%{
        background-position-y: 500px;
        /* background-position-x: 100px; */
    }
    
    100%{
        background-position-y: -100px;
        /* background-position-x: 30px; */
    }
}

.header #back-left{
    position: absolute;
    bottom:0;
    left: 0;
    border: 1px solid gray;
    box-shadow:0 9px gray;
    border-radius: 2px;
    z-index: 100;
}

.header .active-xoay{
    transform:translate(5px,-4px);
    box-shadow:5px  4px gray; 
}


.header #back-left i.fa{
    font-size: 20px;
    padding: 10px 20px;
    color: #7d5fff;
}
.header .active-xoay i.fa{
    transform:rotate(180deg);
}

/* Main */
.main{
    width: 100%;
    height: auto;
}
.main .left{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #8A2BE2; 
    border-top: none;
    box-sizing: border-box;
}
.main .hideNav{
    display: none;
    transition-delay: .3s;
}

.main .left .left__img-box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.main .left #avatar-logo{
    background-image: url(./Image/okok.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* animation: posBg 3s linear infinite; */
    box-sizing: border-box;
}
@keyframes posBg{
    from{
        background-position: 50% 50%;
    }
    to{
        background-position: 100% 100%;
    }
}
.main .left .left__img-box span{
    width:50%;
    height: 50%;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #3d3d3d;
}
.main .left .left__img-box span.active-idol{
    color: pink;
    font-weight: 600;
}

.main .left .left__img-box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    box-shadow: 0 0 10px #e4ae1b;
}

.left__introduce{
    text-align: center;
    padding-bottom: 20px;
   
}
.left__introduce section{
    display: flex;
    justify-content:space-between;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.left__introduce section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: #7d5fff;
    z-index: 1000;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 41% 51%);
}

.left__introduce section .section-left{
    width: 20%;
    background: #7d5fff;
    z-index: 1000;
    clip-path: polygon(0% 0%, 65% 0, 100% 50%, 65% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left__introduce section .section-left i.fa{
    font-size: 20px;
    color: #fff;
}

.left__introduce section .section-right{
    width: 80%;
}

.default{
    position: absolute;
    top: 0;
    left: 0;
    background: #dfe4ea;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index:4;
}

section  .active-section{
    left: 500px;
    transition: all .5s ease-in-out;
}

h4.title{
    font-size:18px;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    background: #7d5fff;
    margin-bottom: 20px;
}

.left__introduce div.section-right >div{
    display: flex;
    justify-content: flex-start;
    padding-left : 20px;
    padding-bottom: 5px;
}
.left__introduce div.section-right >div i.fa{
    font-size: 20px;
    color: #ff3838;
    margin-right: 10px;
}
.left__introduce div.section-right >div i.fa:hover{
    color: #7d5fff;
}

.left__introduce div.section-right >div h5{
    font-style: italic;
    font-size: 16px;
}

/* Css Thong Ke So Luong*/
.left__statistical{
    padding-bottom: 30px;
}
.box{
    display: flex;
    justify-content:center;
    position: relative;
}
.box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 100%;
    background: #7d5fff;
}
.box-item{
    width: 50%;
    text-align: center;
}
.box-item h3{
    color: #7d5fff;
    font-weight: 500;
    text-transform: uppercase;
}

/* css ABout */

.left__about{
    position: relative;
    height: 300px;
}
.icon{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: #7d5fff;
}
.icon > div{
    position: relative;
    cursor: pointer;
    
}
.icon > div p{
    position: absolute;
    width: 100%;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #7d5fff;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 66% 83%, 54% 100%, 37% 83%, 0 83%);
    background: #fff;
    box-shadow: 0 0 5px #7efff5;
    padding: 5px 8px;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    color: #7d5fff;
}

.icon > div:hover p{
    top: -30px;
    opacity: 1;
    visibility: visible;
}


.icon > div i.fa{
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
}
.icon i.fa:hover{
    background: #32ff7e;
    border-radius: 5px;
}
.icon-feeling{
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    box-sizing: border-box;
    background: #bdc3c7;
    padding:10px 0;
    border-radius: 10px;
}
.heart{
    padding: 0 5px;
    position: relative;
    /* animation: gogo 2s linear infinite; */
    cursor: pointer;

}
.heart:hover{
    transform:scale(1.4);
}

.heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background-color: red;
    top: -100px;
    left: 0;
}

.heart img{
    width: 30px;
    background-position: center; 
}

.avatar{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px #7efff5;
    animation: load 3s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    /* animation-duration: inherit; */
}
@keyframes load{
    0%{
        transform:scale(0.2);
        top: 50%;
    }
    50%,100%{
        transform:scale(1);
        top: 0;
    }
}

@keyframes gogo{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-5px);
    }
    100%{
        transform:translateY(5px);
    }
}

/* Phan Right Hien Thi Cac Tin */

.right {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.right .right__tab{
    display: flex;
    border-bottom: 1px solid gray;
}


.right .right__tab a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
    /* color: red; */
    padding: 16px 0;
    width: 33.33%;
    text-align: center;
}
.right .right__tab a:focus{
    background: #7d5fff;
    box-shadow: 0 0 3px #7d5fff;
    color: #ffffff;
    border-radius: 5px;
}

.right .right__tab a:not(:last-child){
    border-right: 1px solid #7d5fff;
}
.right .right__tab a:hover{
    background: #7d5fff;
    box-shadow: 0 0 3px #7d5fff;
    color: #ffffff;
}
.content{
    display: none;
    overflow: hidden;
}
.active-tab{
    display: block;
    animation: chuyenTab 1s ease;
    animation-duration: infinite;
}
@keyframes chuyenTab{
    0%{
        /* transform-origin: right;
        transform:translateX(1000px); */
        transform: scaleY(0);
        transform: scaleX(0);

        /* height: 0; */
    }
    50%{
        transform: scaleY(1);
        transform: scaleX(1);

        /* height: 100%; */
        /* transform-origin: left;  
        transform:translateX(0); */
    }
    90%,100%{
        transform: scaleX(0.5);
        /* transform: scaleY(1); */

    }
}
.right__content{
    
    height: 100%;
}
.content-tips{
    /* margin-top: 30px; */
    position: relative;
}
/* Form */
.form-top{
    position: absolute;
    top: 10px;
    right:20px;
    width:25%;
}
.form-top input[type="text"]{
    border-radius: 10px;
    color: #7d5fff;
}


/* Phan Top Post */
 .top-post{
    color: #7d5fff;
    font-size: 2.5em;
    margin: 30px 0;
    padding-left: 50px;
    text-transform: uppercase;
    position: relative;
}
 .top-post::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #7d5fff;
}
 .top-post::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 70%;
    height: 2px;
    background: linear-gradient(to right , #7d5fff , #fff )
}
/* End Top Post */



.content-tips .card{
    /* max-height: 100px; */

    /* overflow: auto; */
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    margin-bottom: 30px;
    border: none;
    background: white;
    box-shadow: 0 4px 8px #9e8cee;
}

.content-tips .card:hover{
    box-shadow: 0 0 2px #7d5fff;
    /* border: 1px solid #7d5fff; */
}

.content-tips .card .card-title{
    text-decoration: none;
    color: #7d5fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
}
.content-tips .card .card-title:hover{
    color: blue;
}

.content-tips .card .card-subject{
    font-size: 12px;
    padding-left: 10px;
    font-style: italic;

}
.content-tips .card .card-link{
    word-wrap: break-word;
    font-size: 14px;
    padding-left: 10px;

}

.content-tips .card .card-date{
    position: absolute;
    bottom:-15px;
    right:10px;
    font-size: 14px;
}

/* pHan Linear-Gradient */


.content-gradient{
    background-color: #f6f6f6;
    position: relative;
}
.content-gradient::-webkit-scrollbar{
    display: none;
    overflow: hidden;
}
/* Css Phan Time Line */
.timeline{
    position:fixed;
    bottom: 30px;
    right:50px;
    background: rgb(165, 165, 184);
    border-radius: 10px;
    height: 150px;
    cursor: pointer;
    z-index: 100;
}
.timeline-progress{
    width: 8px;
    height: 0;
    background: rgb(226, 149, 200);
    position: relative;
    border-radius: 2px;
}
.timeline-progress:before{
    content: '';
    position: absolute;
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lime;
}

/* End */
.content-gradient a span{
    color: #7d5fff;
    font-size: 16px;
    padding: 0 5px;
    background: lime;
}

.content-gradient .try-gradient{
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px #9e8cee;
    margin: 15px 0;
    display: none; 
    position: relative;
}
.content-gradient .try-gradient>div{
    display: flex;
}

.content-gradient .active-showG{
    display: block;
    animation: goFormGradien 1s ease-in-out;
}
@keyframes goFormGradien{
    from{
        transform:translateX(-1000px);
    }
    to{
        transform:translateX(0);
    }
}
.try-gradient__function{
    width: 40%;
    padding: 20px;
    height: 100%;
}
.try-gradient__display{
    padding: 20px;
    width: 60%;
    height: 100%;
}

.try-gradient__display .box-try{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background: gray;
}

.close-try{
    position: absolute;
    top: 0;
    right: 0;
}
.close-try i.fa{
    font-size:2em;
    padding: 10px 15px;
    color: #fff;
    background: rgb(170, 74, 74);
}


/* Khu Vuc Cac Box Hien Thi Demo */
.title-gradient{
    font-size:30px;
    color: lime;
    border-bottom: 2px dashed lime;
    padding: 10px 0;
    display: inline-block;
}
.box-linear{
    max-height: 300px;
    margin-bottom: 30px;
    /* margin-right: 10px; */
    padding: 120px 50px;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    background-color: #fff;
    position: relative;
    margin-right: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.box-linear:hover{
    transform:translateY(-8px);
    box-shadow: 0 10px 20px rgba(36, 37, 38, 0.08);

}

.box-linear__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}
.box-linear h5{
    position: absolute;
    top: 0;
    left:0;
    padding: 10px;
    color: lime;
    border: 1px dashed lime;
    border-bottom-right-radius: 20px;
}
.box-linear a{
    position: absolute;
    bottom: 0;
    right:0;
    text-decoration: none;
    padding: 10px;
    border: 1px dashed lime;
    border-top-left-radius: 20px;
}
.box-linear a i.fa{
    font-size: 1.5em;
    color: #7d5fff;
}

.popup-color{
    position: absolute;
    top: 0;
    left: 0;
    word-wrap: break-word;
    width:100%;
    height: 100%;
    background: #7bed9f;
    opacity: 0.9;
    display: flex;
    align-items: center;
    transform:translateX(-400px);
    z-index:100;
}
.popup-color p{
    text-align: center;
    font-size:16px;
    word-wrap: break-word;
    font-weight: 600;
    color: #3742fa;
    text-shadow: 0 0 10px #ffffff;
    opacity: 1;
    text-transform: uppercase;
}

.active-bg{
    transform:translateX(0);
}
.close-popop{
    position: absolute;
    top: 0;
    right:0;
    border: 1px solid #7d5fff;
    background: #7d5fff;
    display: inline;
}
.close-popop i.fa{
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
}


/* Phan EnterTament */

.right__entertaiment{
    width: 100%;
    max-height: 150vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1001;
}

/* footer */

.footer{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 3px solid #8A2BE2; 
}
.footer h3{
    text-transform: uppercase;
    color: #8A2BE2;
}
.footer h5{
    font-size: 12px;
    margin-top: 20px;
}

/* Thay Doi Mau Nen WEB */

/* .change-bg{
   position: fixed;
   bottom: 30px;
   right: 30px;
   z-index: 1001;
   border: 1px solid gray;
   border-radius: 10px;
}
.change-bg i.fa{
    padding: 10px 15px;
    color: yellow;
    font-size: 30px;
}

.active-showBgColor{
    background-color:rgb(34, 40, 49);
} */


/* Phan Trang */
.right_pagination{
    text-align: right;
    display: flex;
    justify-content:flex-end;
    list-style: none;
    margin-top: 10px;
}
.right_pagination li{
    padding: 10px;
    border: 1px solid gray;
    margin-left: 10px;
}
















