*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
h2.right__entertaiment-title{
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 3em;
}
.main-content{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.audio-player{
    cursor: pointer;
}
.controls{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 50px 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px #dfd3d3 , 0 0 30px #dfd3d3 , 0 0 50px #dfd3d3; */
}
h4.title-music{
    font-size:25px;
    color:#ffffff;
    text-shadow: 0 0 10px #be2edd;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    
}
.progressbar{
    background: #fff;
    margin-top: 20px;
    border-radius: 2px;
}
.progress-time{
    width: 0%;
    height: 8px;
    background: aqua;
    position: relative;
    border-radius: 2px;
}
.progress-time::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: lime;
    display: block;
}

.time{
    font-size: 14px;
    margin-top: 8px;
    color: #fff;
}
.button-gr{
    padding-top: 40px;
}
.button-gr span{
    margin: 0 20px;
}
.button-gr span i.fa{
    font-size: 35px;
    transition: all .4s ease;
    color: #ffffff;
}
.button-gr span:hover i.fa{
    transform: scale(1.5);
}

.progressVolum{
    width: 70px;
    height: 8px;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    display: none;
    position: relative;
    transition: all .3s ease;
}
.active{
    display: inline-block;
}

.progressVolum::before{
    content:'';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom:-5px;
    right: -5px;
    border: 1px solid aqua;
}
.progressV{
    width: 100%;
    height: 8px;
    background: #000;
    position: relative;
}
.progressV::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    width: 8px;
    height: 14px;
    background: rgb(230, 130, 15);
    display: block;
}

.albums{
    position: absolute;
    top: 50px;
    /* transform:translateY(-50%); */
    right: 10px;
    box-sizing: border-box;
}
.albums ul{
    list-style: none;
    /* background: url(https://2.bp.blogspot.com/-isttDVPt1tE/Vd2fwk5bWqI/AAAAAAAAOkw/DbM_4nYDUt4/s640/hinh-nen-0.jpg) no-repeat;
    background-size: cover; */
    overflow: hidden;
    border-radius: 10px;
    
}
.albums ul li{
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}
.albums ul li:not(.active_s){
    background: rgba(56, 54, 54, 0.7);
    opacity: 0.8;
    
}
.albums ul li:not(.active_s) p{
    color: rgb(87, 81, 81);
    padding-left: 10px;
}

.active_s{
    opacity: 1;
}
.active_s:before{
    position: absolute;
    content:'';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    animation: loadBorder 5s ease-in-out infinite;
    transform:scale(0);
    
}
@keyframes loadBorder{
    0%, 50%{
        transform:scaleX(0);
    }
   100%{    
         transform:scaleX(1);
    }
}

p.hehe{
    display: inline-block;
    color:#ffffff;
    font-weight: bold;
    text-transform: uppercase;
    animation: goText 3s ease-in infinite;
}
@keyframes goText{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(-300px);
    }
}
.albums ul li span{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 100;
}

.active_s span{
    
    background: #D6A2E8;
}


