*{
    margin:0;
    padding: 0;
}
.form-login{
    width: 400px;
    height: 567px;
    margin: 0 auto;
    border: 1px solid gray;
    overflow: hidden;
    box-sizing: border-box;
    background: #353b48;
}
.login-header{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.login-header a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px 20px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    color: #ffffff;
}
.login-content{
    text-align: center;
    position: relative;
    padding: 100px;
}
.login-content .form{
    display: none;
}

.login-content .form h3{
    font-size:2em;
    color: lime;
    padding-bottom: 30px;
}
.input-group{
    position: relative;
    margin-bottom: 10px;
}
.input-group::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition:.4s ease
}
.input-group:hover:before{
    width: 100%;
}


.input-group input{
    /* width: 100%; */
    padding: 10px 0;
    padding-left: 40px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.checkbox{
    font-weight: 500;
    font-size:16px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.checkbox input[type='checkbox']{
    /* visibility: hidden; */
    width: 20px;
    height: 20px;
}
.checkbox label{
    font-size:18px;
    margin: -5px 0;
    color:#fff;
}
.checkbox input[type='checkbox']:checked + label{
    color: rgb(13, 223, 59);
}


.input-group i.fa{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lime;
}
.button{
    margin-top: 20px;
    font-size:18px;
    color: #fff;
    padding: 5px 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.icon-intro{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 100%;
    display: flex;
    align-items: center;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.icon-intro ul{
    list-style: none;
    
    position: relative;
}
.icon-intro ul::before{
    content: '';
    position: absolute;
    top: -80px;
    left: 10px;
    width: 3px;
    height: 80%;
    background: #ffffff;
}

.icon-intro ul::after{
    content: '';
    position: absolute;
    bottom: -80px;
    right: 3px;
    width: 3px;
    height: 80%;
    background: #ffffff;
}

.icon-intro ul li{
    margin-top: 10px;
}
.icon-intro ul li i.fa{
    font-size: 20px;
    color: #ffffff;
}
.left:before{
    content: '';
    position: absolute;
    top: 3px;
    left: 10px;
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 0, 0 0, 0 100%, 0 100%);
    background: #ffffff;
}

.left:after{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: 50px;
    height: 50px;
    clip-path: polygon(0 0, 0 46%, 0 100%, 50% 100%);
    background: #ffffff;
}

.right:before{
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    width: 50px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 46% 0);
    background: #ffffff;
}

.right:after{
    content: '';
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 50px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 100%);
    background: #ffffff;
}

.active-tab{
    display: block;
    animation: chuyenTab 1s ease;
    animation-duration: inherit;
}


@keyframes chuyenTab{
    0%{
        transform:translateX(600px);
    }
    100%{
        transform:translateX(0px);
    }
}
